## My Notebook

#### sample

In [1]:
#function basics
#function name - print - def print...
#function takes one parameter "Hello World"
Hello = "bacon"
World = "potato"
print(Hello)
print(World)
print('Hello World')
var1 = "Hello 2022_02_DSI_WD!!!"
print(var1+' '+Hello)

bacon
potato
Hello World
Hello 2022_02_DSI_WD!!! bacon

In [2]:
number = 4
print(type(number))
number = str(4)
print(type(number))

<class 'int'>
<class 'str'>

In [3]:
4/10

0.4

In [4]:
futureValue = 0.
type(futureValue)

float

In [6]:
#children Andrew Laura Joe 
children = "Andrew Laura Joe"

In [8]:
# 0 index based 
children[9]

'u'

In [9]:
# list example
children =["Andrew","Laura","Joe"]
type(children)

list

In [11]:
for x in children:
    for char in x:
        print(char)

A
n
d
r
e
w
L
a
u
r
a
J
o
e

In [12]:
len(Hello)

5

In [13]:
for x in children:
    print(x,len(x))

Andrew 6
Laura 5
Joe 3

In [14]:
len_list = []
# for x in children:
#     len_list.append(len(x))
for x in children: len_list.append(len(x))
len_list

[6, 5, 3]

In [15]:
type(len_list)

list

In [20]:
#list comprehension
# for x in children: len_list.append(len(x))
nested_list = [[x,len(x)] for x in children]

In [22]:
nested_list[0][1]

6

In [51]:
len_tuple = tuple(len_list)
len_tuple

(6, 5, 3)

In [25]:
# tuple comprehension
gen_tuple = (len(x) for x in children)
[g for g in gen_tuple]

[6, 5, 3]

In [28]:
#functions and tuples
def len_fun(list_in):
    return [(x, len(x)) for x in list_in]

In [33]:
len_fun(children)

[('Andrew', 6), ('Laura', 5), ('Joe', 3), ('jane', 4)]

In [38]:
for x in len_tuple:
    print(x)

TypeError: 'NoneType' object is not iterable

In [50]:
len_tuple

In [32]:
children.append("jane")

In [58]:
l3 = [t for t in  len_tuple]
l3.append(7)
nt = tuple(l3)
nt

(6, 5, 3, 7)

In [39]:
type(len_tuple)

NoneType

In [59]:
# tuples are ready only indexed and iterable
listuple = len_fun(children)
listuple[1][1]

5

In [60]:
Hello[1]

'a'

In [61]:
children[1]

'Laura'

In [66]:
rm = range(len(children))
type(rm)

range

In [64]:
rm = range(20,100)

In [67]:
for r in rm: print(r)

0
1
2
3

In [68]:
for r in listuple: 
    print(r)

('Andrew', 6)
('Laura', 5)
('Joe', 3)
('jane', 4)

In [75]:
months = 3 
#Python is a zero-index language
rng_mo = range(months)
for r in rng_mo: 
    print(listuple[r])

('Andrew', 6)
('Laura', 5)
('Joe', 3)

In [82]:
# returns a series of strings from a list of tuples
def mo_fun (molist,monum):
    '''
    monum = number of iterations
    molist = list'''
    rng_mo = range(monum)
    for r in rng_mo: 
        print(molist[r])

In [80]:
mo_fun (monum=1, molist=listuple)

('Andrew', 6)

In [81]:
mo_fun(nt,1)

6

In [83]:
mo_fun?

Signature: mo_fun(molist, monum)
Docstring:
monum = number of iterations
molist = list
File:      c:\users\andre\appdata\local\temp\ipykernel_93964\996065782.py
Type:      function

In [ ]:
#input - num,list, output = int & str

In [ ]:
def most_fun (molist,monum):
    rng_mo = range(monum)
    return molist[monum][0] , molist[monum][1]

In [84]:
def most_fun (molist,monum):
    rng_mo = range(monum)
    return \
        molist[monum][0] \
        , molist[monum][1]

In [85]:
most_fun (monum=1, molist=listuple)

('Laura', 5)

In [86]:
 ltstr, ltint = most_fun (monum=1, molist=listuple)
 print(ltstr)
 print(ltint)

Laura
5

In [87]:
bigtuple = (listuple,1)
most_fun(bigtuple)

TypeError: most_fun() missing 1 required positional argument: 'monum'

In [88]:
listuple

[('Andrew', 6), ('Laura', 5), ('Joe', 3), ('jane', 4)]

In [89]:
set(listuple)

{('Andrew', 6), ('Joe', 3), ('Laura', 5), ('jane', 4)}

In [90]:
setch = set(children)
setch

{'Andrew', 'Joe', 'Laura', 'jane'}

In [99]:
t = []
for x in children:
    for char in x:
        t.append(char)

In [102]:
list(set(t))

['a', 'J', 'e', 'j', 'n', 'u', 'L', 'o', 'A', 'd', 'w', 'r']

In [92]:
child = {'Joe'}
child.issubset(setch)

True

In [104]:
child & setch

{'Joe'}

In [105]:
first_dict = {k[0]:k[1] for k in listuple}
print(type(first_dict))
print(first_dict)

<class 'dict'>
{'Andrew': 6, 'Laura': 5, 'Joe': 3, 'jane': 4}

In [111]:
for x in first_dict.items(): print(x)
for x in first_dict.keys(): print(x)
for x in first_dict.values(): print(x)

('Andrew', 6)
('Laura', 5)
('Joe', 5)
('jane', 4)
('Pat', 'd')
Andrew
Laura
Joe
jane
Pat
6
5
5
4
d

In [109]:
first_dict.get("Joe")

5

In [108]:
first_dict["Joe"] = 5

In [110]:
first_dict["Pat"] = "d"

In [112]:
#for i in range(3)
#iterator
for i in listuple: listuple.append(i)
listuple

KeyboardInterrupt:

In [113]:
len(listuple)

116888873

In [141]:
listuple.items()

AttributeError: 'list' object has no attribute 'items'

In [114]:
newset = set(listuple)
len(newset)

4

In [120]:
listuple = listuple[0:4]

In [121]:
testdict = {"monum":1, "molist":listuple}

In [122]:
testdict

{'monum': 1, 'molist': [('Andrew', 6), ('Laura', 5), ('Joe', 3), ('jane', 4)]}

In [125]:
# *testdict
testdict.items()
# **testdict
    'monum'= 1
    'molist' = [('Andrew', 6), ('Laura', 5), ('Joe', 3), ('jane', 4)]

dict_items([('monum', 1), ('molist', [('Andrew', 6), ('Laura', 5), ('Joe', 3), ('jane', 4)])])

In [126]:
#  most_fun (monum=1, molist=listuple)
testdict = {"monum":1, "molist":listuple}

most_fun(**testdict)
# exec_fun(** )

('Laura', 5)

In [135]:
#function definition, name and input parameters - no data types!!!
def calculateFutureValue(monthlyInvestment, monthlyRate, months):
    '''takes numbers and gives estimates'''    
# iterator for length of calculation cycle
    futureValue = 0.0
    for i in range(months):
#business logic
        futureValue = (
                futureValue
                + monthlyInvestment
            ) \
            * \
            ( \
                1 
                + monthlyRate
            )
#output of function
    return round(futureValue,2)

# monthlyInvestment = input("Configure Monthly Investment:\t")
# monthlyRate = input("Configure Monthly Rate:\t")
# months = input("Configure Months of investment:\t")

In [133]:
calculateFutureValue?

Signature: calculateFutureValue(monthlyInvestment, monthlyRate, months)
Docstring: takes numbers and gives estimates
File:      c:\users\andre\appdata\local\temp\ipykernel_93964\513620384.py
Type:      function

In [136]:
calculateFutureValue(5000,.07,3)

17199.72

In [ ]:
type(Hello)

In [137]:
!python --version

Python 3.7.11

In [138]:
folder = "c:\\"
!dir $folder

 Volume in drive C has no label.
 Volume Serial Number is 0CF2-974E

 Directory of c:\

12/08/2021  02:16 PM    <DIR>          2021_10_DSI_WD
01/23/2022  09:58 AM    <DIR>          2021_10_DSI_WE
02/18/2022  02:57 PM    <DIR>          2022_01_DSI_WD
01/06/2021  09:39 AM    <DIR>          ComboKey
01/08/2022  07:16 AM    <DIR>          Customer360
02/13/2021  12:22 AM    <DIR>          cygwin64
01/24/2022  11:15 AM    <DIR>          DIAD
10/18/2021  10:46 AM    <DIR>          DIAD202110
02/21/2022  09:49 AM    <DIR>          divergence
01/31/2022  06:00 PM            12,288 DumpStack.log
01/12/2022  04:39 PM    <DIR>          h2o
02/10/2022  07:19 PM    <DIR>          hekahnsw
12/08/2021  02:57 PM    <DIR>          hekaplex
02/12/2021  09:08 PM    <DIR>          java
02/14/2022  01:01 PM    <DIR>          Kaggle
05/05/2021  05:01 AM    <DIR>          logs
05/21/2021  01:29 PM    <DIR>          mlpbix
10/05/2021  01:43 PM    <DIR>          New folder (2)
02/19/2022  05:10 PM    <DIR>          PartitionPractice
08/09/2021  04:56 PM    <DIR>          pBI_extract
02/19/2022  11:17 AM    <DIR>          PerfLogs
06/08/2021  02:08 PM    <DIR>          PowerBI_AdvM
02/13/2022  07:51 PM    <DIR>          Program Files
02/05/2022  05:26 PM    <DIR>          Program Files (x86)
05/06/2021  05:08 PM    <DIR>          Python39
05/17/2021  01:38 PM             4,424 r.txt
12/09/2021  10:48 AM    <DIR>          repos
12/08/2021  02:25 PM    <DIR>          scratch
07/10/2021  02:44 PM    <DIR>          src
07/17/2021  02:11 PM    <DIR>          src_dsi_we
08/08/2021  10:55 AM    <DIR>          sub_bak_08081051
08/03/2021  11:59 AM    <DIR>          sub_bak_1300
02/15/2021  12:45 AM    <DIR>          SysinternalsSuite
01/06/2021  09:30 AM    <DIR>          temp
02/19/2022  10:01 PM    <DIR>          tkt
09/03/2021  07:11 PM    <DIR>          tmp
01/16/2022  03:51 PM    <DIR>          Users
02/10/2022  02:15 AM    <DIR>          Windows
               2 File(s)         16,712 bytes
              36 Dir(s)  376,618,229,760 bytes free

In [139]:
print("test")
print("t\ne\n\tst\'\"")

test
t
e
	st'"

In [140]:
print "Hello World"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello World")? (796388850.py, line 1)

In [ ]:
SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello World")?
TypeError: unsupported operand type(s) for +: 'float' and 'str'
ModuleNotFoundError: No module named 'tensorflow'
NameError: name 'Hello' is not defined
AttributeError: 'list' object has no attribute 'upper'

In [ ]:
print("Hello World")

In [ ]:
#EOL = End of Line

In [ ]:
counter = 0
score_total = 0
test_score = 0
# != is "Not Equal To"
#while nobody enters 999(quit msg)
while test_score != 999:
#convert text input to integer
    test_score = int(input("Enter test score: "))
#check for valid range 
    if test_score >= 0 and test_score <= 100:
#       score_total = score_total + test_score
        score_total += test_score # add new score to sum of old scores
        counter += 1 # add another counter increment
#give graceful warning
    else:
        print("use numbers between 0 and 100")
#calculate average
average_score = round(score_total / counter)
#give feedback                
print("Total Score: " + str(score_total))
print("Average Score: " + str(average_score))
print("Number of Scores: " + str(counter))

In [ ]:
calculateFutureValue?

In [ ]:
children

In [ ]:
print(children)

In [142]:
junk = [ 4, "boing", 3.6]

In [145]:
foo = {6:[4,4]}

In [143]:
print(junk)

[4, 'boing', 3.6]

In [146]:
a = str()
for i in junk:
    a+=str(i)+" "
print(a)

4 boing 3.6

In [147]:
print(children[0],children[1],children[2])

Andrew Laura Joe

In [148]:
a = str()
for i in children:
    a+=str(i)+" "
print(a)

Andrew Laura Joe jane

In [149]:
print(children[0],children[1],children[2],sep="\n",end="!!!",)

Andrew
Laura
Joe!!!

In [150]:
print(children[0],children[1],children[2],sep=str(junk),end="!!!")

Andrew[4, 'boing', 3.6]Laura[4, 'boing', 3.6]Joe!!!

In [151]:
newlist = [1,2,3,4]

In [152]:
print(newlist)

[1, 2, 3, 4]

In [ ]:
print("What is your first name?")
first_name = input()

In [ ]:
print("Hello, " + first_name + "!")

In [154]:
 len(len_list)

3

In [159]:
len(listuple)

4

In [160]:
len(listuple) & len(len_list)
# 0b100 0b011

0

In [164]:
val = 0x01A
# 16 * 1 + (1 * 10)
#16 bit number
val

26

In [166]:
print(0o01000)
# 4 bits are a byte

512

In [161]:
num = 0b011
num

3

In [ ]:
>>> (min_age == 47)
True
>>> (min_age == 47) and (age == 40)
True
>>> not(active)
True
>>> (min_age == 47) and not(age == 40)
False
>>> (min_age == 47) and not(age == 47)
True
>>> (min_age == 47) and not(age == 47) or (age != min_age)
True
>>> ((min_age == 47) and not(age == 47)) or (age != min_age)
True
>>>

In [167]:
print(children)

['Andrew', 'Laura', 'Joe', 'jane']

In [168]:
child2 = str(children)
print(child2)
print(child2.lower())
print(child2.upper())

['Andrew', 'Laura', 'Joe', 'jane']
['andrew', 'laura', 'joe', 'jane']
['ANDREW', 'LAURA', 'JOE', 'JANE']

In [ ]:
type(child2)

In [169]:
children.upper()

AttributeError: 'list' object has no attribute 'upper'

In [ ]:
#!/usr/bin/env python3

#function defintion and input parameters
def calculateFutureValue(monthlyInvestment, monthlyRate, months):
# iterator for length of calculation cycle
    futureValue = 0.0
    for i in range(months):
#business logic
        futureValue = (
                futureValue
                + monthlyInvestment
            ) \
            * \
            ( \
                1 
                + monthlyRate/100
            )
#output of function
    return str(round(futureValue,2))

# display a welcome message
print("Welcome to the Future Value Calculator")
print()

# get input from the user
monthlyInvestment = float(input("Configure Monthly Investment:\t"))
monthlyRate = float(input("Configure Monthly Rate:\t"))
ham = float(input("Configure Years of investment:\t"))

def ytm(years):
    return int(round(years*12,0))

#calculate final value
final_value = str(calculateFutureValue(monthlyInvestment, monthlyRate, ytm(ham)))

# display the results
print("final value: $"+final_value)

In [171]:
vart = range(0,100)
for i in vart: 
    print (i)

In [180]:
children[0:4:1]

['Andrew', 'Laura', 'Joe', 'jane']