In [8]:
##import from sql to python
import pyodbc
#from sqlalchemy import create_engine
import pandas
import pandas as pd
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = 'dcdsi0122sv.database.windows.net' 
database = 'dcdsi0122db' 
username = 'dclerk' 
password = 'PNut!@15'  
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# select 26 rows from SQL table to insert in dataframe.
query = "SELECT * FROM CSInc.vInvoiceHeader;"
df = pd.read_sql(query, cnxn)
print(df.head())

C:\Users\David Clerk\AppData\Roaming\Python\Python38\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

  AccountNumber  InvoiceID  CustomerID                  Company  \
0     10-4022-1     900008           1          A Machine Store
1    10-4022-10     902850          10   Rural Machine Emporium
2   10-4022-100     902858         100      Up-To-Date Eqipment
3   10-4022-101     902864         101  Urban Eqipment Emporium
4   10-4022-102     902866         102   National Manufacturing

                                     Company Address Company Phone  \
0   8713 Yosemite Ct. \nMontgomery, Alabama, 36104\n  367-555-0246
1      6388 Lake City Way \nDover, Delaware, 19901\n  645-555-0207
2  965 De La Gauchetiere West \nSacramento, Calif...  645-555-0239
3  No. 25400 10665 Jasper Avenue \nDenver, Colora...  645-555-0240
4    P.O. Box 44000 \nHartford, Connecticut, 06103\n  645-555-0241

                   Company EMail  Invoice SubTotal  Tax Amount  \
0   orlando0@adventure-works.com            2900.4  248.477268
1  kathleen0@adventure-works.com            2071.0  177.422570
2      kirk2@adventure-works.com            1523.0  130.475410
3   william1@adventure-works.com            2004.0  171.682680
4     linda7@adventure-works.com             728.0   62.367760

   Service Charge  Invoice Total Invoice Date    Due Date InvoiceStatus  \
0          435.06    3583.937268   02/17/2022  02/17/2022      Invoiced
1          310.65    2559.072570   02/17/2022  02/17/2022      Invoiced
2          228.45    1881.925410   02/17/2022  02/17/2022      Invoiced
3          300.60    2476.282680   02/17/2022  02/17/2022      Invoiced
4          109.20     899.567760   02/17/2022  02/17/2022      Invoiced

  DatePaid
0     None
1     None
2     None
3     None
4     None