### Exercise 1 using the % operator to format

In [2]:
from csv import DictReader
raw_data = []
with open("combinded_data.csv", "rt") as fd:
    data_rows = DictReader(fd)
    for data in data_rows:
        raw_data.append(dict(data))

In [3]:
! head combinded_data.csv

Name,Age,Height,Weight,Disease_history,Heart_problem
Bob,23.0,1.7,70,N,N
Alex,45,1.61,61,Y,N
George,12.5,1.4,40,N,
Alice,34,1.56,51,N,Y

In [4]:
raw_data

[{'Name': 'Bob',
  'Age': '23.0',
  'Height': '1.7',
  'Weight': '70',
  'Disease_history': 'N',
  'Heart_problem': 'N'},
 {'Name': 'Alex',
  'Age': '45',
  'Height': '1.61',
  'Weight': '61',
  'Disease_history': 'Y',
  'Heart_problem': 'N'},
 {'Name': 'George',
  'Age': '12.5',
  'Height': '1.4',
  'Weight': '40',
  'Disease_history': 'N',
  'Heart_problem': ''},
 {'Name': 'Alice',
  'Age': '34',
  'Height': '1.56',
  'Weight': '51',
  'Disease_history': 'N',
  'Heart_problem': 'Y'}]

In [10]:
 raw_data[1]["Name"]

'Alex'

In [11]:
rw = raw_data[1]
rw["Weight"]

'61'

In [22]:
import pandas as pd
df = pd.DataFrame(raw_data)
df

     Name   Age Height Weight Disease_history Heart_problem
0     Bob  23.0    1.7     70               N             N
1    Alex    45   1.61     61               Y             N
2  George  12.5    1.4     40               N
3   Alice    34   1.56     51               N             Y

In [23]:
df.describe(include="O")

        Name   Age Height Weight Disease_history Heart_problem
count      4     4      4      4               4             4
unique     4     4      4      4               2             3
top     Alex  23.0   1.56     61               N             N
freq       1     1      1      1               3             2

In [12]:
for data in raw_data:
    report_str = """%s is %s years old and is %s meter tall weiging about %s kg.\n
    Has a hsitory of family illness: %s.\n
    Presently suffering from a heart disease: %s
    """ % (data["Name"], data["Age"], data["Height"], data["Weight"], data["Disease_history"], data["Heart_problem"])
    print(report_str)

Bob is 23.0 years old and is 1.7 meter tall weiging about 70 kg.

    Has a hsitory of family illness: N.

    Presently suffering from a heart disease: N

Alex is 45 years old and is 1.61 meter tall weiging about 61 kg.

    Has a hsitory of family illness: Y.

    Presently suffering from a heart disease: N

George is 12.5 years old and is 1.4 meter tall weiging about 40 kg.

    Has a hsitory of family illness: N.

    Presently suffering from a heart disease:

Alice is 34 years old and is 1.56 meter tall weiging about 51 kg.

    Has a hsitory of family illness: N.

    Presently suffering from a heart disease: Y

### Exercise 2 (using the 'format' statement)

In [13]:
for data in raw_data:
    report_str = """{} is {} years old and is {} meter tall weiging about {} kg.\n
    Has a hsitory of family illness: {}.\n
    Presently suffering from a heart disease: {}
    """.format(data["Name"], data["Age"], data["Height"], data["Weight"], data["Disease_history"], data["Heart_problem"])
    print(report_str)

Bob is 23.0 years old and is 1.7 meter tall weiging about 70 kg.

    Has a hsitory of family illness: N.

    Presently suffering from a heart disease: N

Alex is 45 years old and is 1.61 meter tall weiging about 61 kg.

    Has a hsitory of family illness: Y.

    Presently suffering from a heart disease: N

George is 12.5 years old and is 1.4 meter tall weiging about 40 kg.

    Has a hsitory of family illness: N.

    Presently suffering from a heart disease:

Alice is 34 years old and is 1.56 meter tall weiging about 51 kg.

    Has a hsitory of family illness: N.

    Presently suffering from a heart disease: Y

### Exercise 3 (Naming the variables inside the string representation)

In [15]:
for data in raw_data:
    report_str = """{Name} is {Age} years old and is {Height} meter tall weiging about {Weight} kg.\n
    Has a hsitory of family illness: {Disease_history}.\n
    Presently suffering from a heart disease: {Heart_problem}
    """.format(**data)
    print(report_str)

Bob is 23.0 years old and is 1.7 meter tall weiging about 70 kg.

    Has a hsitory of family illness: N.

    Presently suffering from a heart disease: N

Alex is 45 years old and is 1.61 meter tall weiging about 61 kg.

    Has a hsitory of family illness: Y.

    Presently suffering from a heart disease: N

George is 12.5 years old and is 1.4 meter tall weiging about 40 kg.

    Has a hsitory of family illness: N.

    Presently suffering from a heart disease:

Alice is 34 years old and is 1.56 meter tall weiging about 51 kg.

    Has a hsitory of family illness: N.

    Presently suffering from a heart disease: Y

### Exercise 4 (Various conversion tricks with format)

In [18]:
original_number = 42
print("The binary representation of 42 is - {0:o}".format(original_number))

The binary representation of 42 is - 52

In [31]:
print("{:^42}".format("I am at the center"))

            I am at the center

In [33]:
print("{:=^42}".format("I am at the center"))

============I am at the center============

### Exercise 5 (Date formatting)

In [34]:
from datetime import datetime

In [35]:
print("The present datetime is {:%Y-%m-%d %H:%M:%S}".format(datetime.utcnow()))

The present datetime is 2018-10-14 09:57:15