In [3]:
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(str(cursor.fetchall()))

[<sqlite3.Row object at 0x0000014B3B3056D0>]

In [11]:
import csv
import sqlite3
from contextlib import closing

print("Customer Data Importer")
print()

# specify filenames in the current directory
csv_file = "customers.csv"
db_file = "customers.sqlite"
table_name = "Customer"

# connect to the database and set the row factory
conn = sqlite3.connect("customers.sqlite")
conn.row_factory = sqlite3.Row

Customer Data Importer

CSV file:   customers.csv
DB file:    customers.sqlite
Table name: Customer

In [7]:
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    # try:
    c = conn.cursor()
    c.execute(create_table_sql)
    # except Error as e:
    #     print(e)
        
stmt1 = """
DROP TABLE IF EXISTS Customer;
"""
stmt2 = """
CREATE TABLE Customer(
    customerID  INTEGER PRIMARY KEY     NOT NULL,
    firstName   TEXT                    NOT NULL,
    lastName    TEXT                    NOT NULL,
    companyName TEXT                    NULL,
    address     TEXT                    NULL,
    city        TEXT                    NULL,
    state       TEXT                    NULL,
    zip         TEXT                    NULL
);
"""
stmt3 = '''INSERT INTO Customer VALUES (101,"James","Butt","","6649 N Blue Gum St","New Orleans","LA","70116");'''

create_table(conn, stmt1)
create_table(conn, stmt2)
create_table(conn, stmt3)

ProgrammingError: Cannot operate on a closed database.

In [9]:
c = conn.cursor()
for row in c.execute("SELECT * from Customer"):
    print(row)

# Be sure to close the connection
conn.close()

<sqlite3.Row object at 0x0000014B3CC00D90>

In [19]:
import pandas as pd
import sqlite3

# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("customers.sqlite")
df = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", con)
df

       name
0  Customer
1     users

In [4]:
import csv
import sqlite3
from contextlib import closing

print("Customer Data Importer")
print()

# specify filenames in the current directory
csv_file = "customers.csv"
db_file = "customers.sqlite"
table_name = "Customer"

print("CSV file:   " + csv_file)
print("DB file:    " + db_file)
print("Table name: " + table_name)
print()

# connect to the database and set the row factory
conn = sqlite3.connect("customers.sqlite")
conn.row_factory = sqlite3.Row

# delete old rows in database
with closing(conn.cursor()) as c:
    sql =  '''DELETE FROM Customer'''
    c.execute(sql)
    conn.commit()
print("All old rows deleted from " + table_name + " table.")

# create SQL statement for inserting data into database
sql = '''INSERT INTO Customer
            (firstName, lastName, companyName, address, city, state, zip)
         VALUES
             (?, ?, ?, ?, ?, ?, ?)'''

# read customer data from file
with open(csv_file, "r", newline='') as infile:
    reader = csv.reader(infile)
    count = 0
    for row in reader:
        if count == 0:
            pass
        else:
            first =    row[0].strip()
            last =     row[1].strip()
            company =  row[2].strip()
            address =  row[3].strip()
            city =     row[4].strip()
            state =    row[5].strip()
            zip =      row[6].strip()
    
            # write the data to the database
            with closing(conn.cursor()) as c:            
                c.execute(sql, (first, last, company, address, city, state, zip))
        
        count += 1
        # print("Count:", count) # for debugging

conn.commit()
conn.close()

print(count-1, "row(s) inserted into Customer table.")

Customer Data Importer

CSV file:   customers.csv
DB file:    customers.sqlite
Table name: Customer

All old rows deleted from Customer table.
500 row(s) inserted into Customer table.

In [22]:
def is_admin(connection, username: str) -> bool:
    c = connection.cursor()
    c.execute("""
        SELECT
            admin
        FROM
            users
        WHERE
            username = '%s'
    """ % username)
    result = c.fetchone()

    if result is None:
        # User does not exist
        return False

    admin, = result
    return admin

In [9]:
usertest1=""" CREATE TABLE users (
    username varchar(30),
    admin boolean
);"""

usertest2="""INSERT INTO users
    (username, admin)
VALUES
    ('ran', true),
    ('haki', false);"""

In [12]:
create_table(conn, usertest1)
create_table(conn, usertest2)

In [23]:
is_admin(conn,'haki')

0

In [ ]:
is_admin("'; update users set admin = 'true' where username = 'haki'; select true; --")

In [26]:
def is_admin2(connection, username: str) -> bool:
    c = connection.cursor()
    c.execute("""
            SELECT
                admin
            FROM
                users
            WHERE
                username = %(username)s
        """, {
            'username': username
        })
        result = c.fetchone()

    if result is None:
        # User does not exist
        return False

    admin, = result
    return admin

'django-admin' is not recognized as an internal or external command,
operable program or batch file.